/*
0 - 600px:          Phone
600 - 900px:        Tablet (portrait)
900 - 1200px:       Tablet (landscape)
[1200 - 1800px]:    Default styles
1800px onwards:     Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
:root {
  --color-primary: black; }

/*
Perform basic CSS reset so that every browser displays CSS
in exactly the same way
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing by default is not inherited, so force it to be inherited */
  /* i.e. all child elements with the box-sizing property will now inherit from this */
  box-sizing: inherit; }

html {
  /* This assigned root font size will allow the usage of the rem unit */
  /* The rem unit is used to define children element padding/font sizes */
  /* Default font size is 16px so set it to 10px (62.5% of 16px) for easy calculations */
  /* (1 rem == 10px) */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 6rem; }
