/*
0 - 600px:          Phone
600 - 900px:        Tablet (portrait)
900 - 1200px:       Tablet (landscape)
[1200 - 1800px]:    Default styles
1800px onwards:     Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
:root {
  --color-brand: #272C44;
  --color-secondary: #64878F;
  --color-tertiary: #3C6B94;
  --color-background: #C6B9A7;
  --color-text: #131915; }

/*
Perform basic CSS reset so that every browser displays CSS
in exactly the same way
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing by default is not inherited, so force it to be inherited */
  /* i.e. all child elements with the box-sizing property will now inherit from this */
  box-sizing: inherit; }

html {
  /* This assigned root font size will allow the usage of the rem unit */
  /* The rem unit is used to define children element padding/font sizes */
  /* Default font size is 16px so set it to 10px (62.5% of 16px) for easy calculations */
  /* (1 rem == 10px) */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: var(--color-background); }

body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-text); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  display: inline;
  background-image: linear-gradient(var(--color-background), var(--color-background)), linear-gradient(var(--color-text), var(--color-text));
  background-size: 100% 10%, 0 10%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size .2s; }
  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    cursor: pointer;
    background-size: 0 10%, 100% 10%; }

h1 {
  font-size: 10rem; }

h2 {
  font-size: 4rem; }

a:link {
  color: var(--color-background);
  text-decoration: none; }

a:visited {
  color: var(--color-tertiary); }

a:hover {
  text-decoration: underline; }

main section {
  margin: 3rem 0;
  padding: 0 2rem; }

.flex {
  display: flex; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex.space-between {
    justify-content: space-evenly; }
  .flex.center {
    align-items: center; }

.card {
  width: 40rem;
  color: var(--color-background);
  background-color: var(--color-text);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  transition: transform .2s; }
  .flex .card:not(:last-child) {
    margin-right: 1rem; }
  .card:hover {
    transform: translateY(-1rem); }
  .card .title {
    font-weight: 700; }
    .card .title:hover a .project-link {
      width: 2rem;
      height: 2rem; }
    .card .title .project-link {
      width: 0;
      height: 0;
      fill: var(--color-background);
      transition: all .2s; }
  .card .description {
    color: var(--color-secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .card .flex .badge {
    margin-top: 1rem; }
    .card .flex .badge:not(:last-child) {
      margin-right: 1rem; }
  .card-footer {
    display: flex;
    justify-content: flex-end; }
    .card-footer:hover a .project-link {
      width: 2rem;
      height: 2rem; }
    .card-footer .project-link {
      width: 0;
      height: 0;
      fill: var(--color-background);
      transition: all .2s; }

.icon {
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  fill: var(--color-background); }

.footer {
  height: 30vh; }
