.card {
  height: 24rem;
  width: 40rem;
  background-color: goldenrod;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 2rem;

  .flex &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    border: 0.3rem solid black;
    transform: translateY(-0.5rem);
  }

  .title {
    font-weight: 700;
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .flex .badge {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
