.card {
  height: 24rem;
  width: 40rem;
  color: var(--color-background);
  background-color: var(--color-text);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 2rem;

  transition: transform .2s;

  .flex &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    transform: translateY(-1rem);
  }

  .title {
    font-weight: 700;
  }

  .description {
    color: var(--color-secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .flex .badge {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
