.card {
  display: flex;
  flex-direction: column;
  width: 40rem;
  color: var(--color-background);
  background-color: var(--color-text);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  transition: transform 0.2s;

  .flex &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    transform: translateY(-1rem);

    .title,
    .card-footer {
      a .project-link {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .project-link {
    width: 0;
    height: 0;
    fill: var(--color-background);

    transition: all 0.2s;
  }

  .title {
    font-weight: 700;
  }

  .description {
    color: var(--color-secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .flex .badge {
    margin-top: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
}
