.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.space-between {
    justify-content: space-evenly;
  }

  &.horizontal-center {
    justify-content: center;
  }
}
