.icon {
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  fill: var(--color-background);
}

// .icon-github {
//   width: 3rem;
//   height: 3rem;
//   background-color: var(--color-background);
//   -webkit-mask: url(../img/github.svg) no-repeat center;
//   mask: url(../img/github.svg) no-repeat center;
// }