body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  // line-height: 1.2;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  
  &:hover {
    cursor: pointer;
    background-size: 0 10%, 100% 10%;
  }

  // For animating the underline
  display: inline;
  background-image: linear-gradient(var(--color-background), var(--color-background)), linear-gradient(var(--color-text), var(--color-text));
  background-size: 100% 10%, 0 10%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;

  transition: background-size .2s;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}

a {
  &:link {
    color: var(--color-background);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-tertiary);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
  }
}
