body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  // line-height: 1.2;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;

  // For animating the underline
  overflow: hidden;
  position: relative;
  &:hover {
    cursor: pointer;

    &:after {
      left: 0;
      width: 100%;
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 0;
    height: 10%;
    opacity: 0;
    transition: all 0.2s;
    background-color: var(--color-text);
  }
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}