header {
  padding: 0 2rem;

  .flex {
    .contact-link:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

main {
  section {
    margin: 3rem 0;
    padding: 0 2rem;
  }
}

.description {
  margin: 1rem 0;
}
